@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './blog.scss';
@import './signin.scss';
@import "./formpage";
// .container{
//     width: 970px;
//     margin: 0 auto;
// }
// .users,.items{
//     display:flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }

.user,.item{

    padding: 9px;
    border:1px solid green;
    margin-bottom: 9px;

}
.entity-extra-title.green{
 color:green;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
 flex:1;
}
.overlay{
 position: fixed;
 width: 100vw;
 height: 100vh;
 top:0;
 left:0;
 background-color: rgba(0,0,0,0.3);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
.popup{
    position: relative;
width: 490px;
max-width: 90vw;


padding: 19px 19px;
background-color: white;

}
.close-btn{
    width: 49px;
    height: 49px;
position: absolute;
top:-19px;
right: -19px ;
border-radius: 50%;
border: 1px solid orange;
background-color: white;
display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 font-size: 29px;
}
.header-avatar{
    height: 49px;
    margin-right: 9px;
}
.file-item{
    max-width: 100%;
}
.file-item.active{
    border: 1px solid yellow;
}
.post-image{
    max-width: 100%;
}

.ql-editor{
    min-height: 200px;
}